/******************************
* List of featured items
******************************/
.featured {
    @include breakpoint(621px, 'from') {
        @include centered();
    }

    @include breakpoint($bp-large, 'from') {
        margin-right: 40px;
    }



    // List and List items
    &__list {
        @include clearList();
    }

    &__list-item {
        position: relative;
        margin: $margin-default-li;
    }



    // Text
    &__text {
        margin-top: -20px;
        margin-left: 20px;
        margin-right: 20px;

        @include breakpoint($bp-large, 'from') {
            margin-left: 40px;
        }
    }

    &__label {
        @include label();
        margin-left: 50px;

        @include breakpoint($bp-large, 'from') {
            margin-left: 70px;
        }

        &:before {
            content: "⇘";
            text-align: center;
            background-color: $bgcolor-icons;
            position: absolute;
            left: -50px;
            top: 0;
            width: 50px;
            height: 50px;
            font-size: 50px;
            line-height: 42px;

            @include breakpoint($bp-large, 'from') {
                left: -70px;
                width: 70px;
                height: 70px;
                font-size: 70px;
                line-height: 62px;
            }
        }
    }



    // Info contains title, subtitle, and is the "main" content area
    &__info {
        margin-left: 60px;
        margin-top: 10px;

        @include breakpoint($bp-large, 'from') {
            margin-left: 90px;
            margin-top: 20px;
        }
    }

    &__title {
        font-size: 36px;
        line-height: 40px;
        margin: $margin-featured-sections;
    }

    &__subtitle {
        font-size: 14px;
        line-height: 15px;
        margin: $margin-featured-sections;
    }

    // Artist lists = list of artist performing a featured list item.
    // The items are seperated by a bullet
    &__artists-list {
        @include clearList();
        margin: $margin-featured-sections;

        &-item {
            display: inline;

            &:last-child {
                &:after {
                    content: "";
                    padding: 0;
                }
            }

            &:after {
                content: "●";
                padding: 0 5px;
            }
        }
    }
}
