/******************************
* List of featured items
******************************/
.featured {
    @include breakpoint(621px, 'from') {
        width: 620px;
    }

    @include breakpoint(1489px, 'from') {
        margin-right: 40px;
    }

    // List and List items
    &__list {
        @include clearList();
    }

    &__list-item {
        position: relative;
        margin: $margin-default-li;
    }

    // Text
    &__text {
        margin-top: -20px;
        margin-left: 20px;

        @include breakpoint(1489px, 'from') {
            margin-left: 40px;
        }
    }

    &__label {
        display: inline-block;
        background-color: $color-headings;
        color: $color-white;
        font-size: 12px;
        line-height: 13px;
        padding: 5px 15px 5px 5px;
        position: relative;
        margin-left: 50px;

        @include breakpoint(1489px, 'from') {
            margin-left: 70px;
        }

        &:before {
            content: "⇘";
            text-align: center;
            background-color: #00BAFF;
            position: absolute;
            left: -50px;
            top: 0;
            width: 50px;
            height: 50px;
            font-size: 50px;
            line-height: 42px;

            @include breakpoint(1489px, 'from') {
                left: -70px;
                width: 70px;
                height: 70px;
                font-size: 70px;
                line-height: 62px;
            }
        }
    }

    // featured info contains title, subtitle, and is the "main" content area
    &__info {
        margin-left: 60px;
        margin-top: 10px;

        @include breakpoint(1489px, 'from') {
            margin-left: 90px;
            margin-top: 20px;
        }
    }

    &__title {
        font-size: 36px;
        line-height: 40px;
    }

    &__subtitle {
        font-size: 14px;
        line-height: 15px;
    }
}