/******************************
* Typography
******************************/
h1, h2, h3 {
    font-family: $font-stack-default;
    color: $color-headings;
    margin: 0;
    font-weight: normal;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 18px;
}

p {
    color: $color-paragraphs;
    margin: $margin-default-p;
}

.text {
    &--date {
        color: $color-date;
        font-size: 12px;
        line-height: 19px;
    }
}