/******************************
* Typography
******************************/
h1, h2, h3 {
    font-family: $font-stack-default;
}

h1 {
    font-size: 2em;
    margin: 0 0 20px 0;
}

h2 {
    font-size: 18px;
    margin: 0 0 10px 0;
}

p {
    margin: 0 0 20px 0;
}
