/******************************
* Variables
******************************/
// Colours
$color-primary:         #000 !default;
$color-secondary:       #fff !default;
$color-white:           #fff !default;
$color-black:           #000 !default;

// Fonts
$font-stack-default:    Arial, sans-serif !default;
$font-stack-roboto:     Roboto, Arial, sans-serif !default;
$font-size-h1:          22px !default;
$font-size-h2:          15px !default;
$font-size-default:     15px !default;
$line-height-default:   23px !default;

// Misc.
$main-border-size:      12px !default;
