<li class="featured__list-item">
    <img class="featured__image" alt="Vaste collectie" src="images/vaste-collectie.png" />

    <div class="featured__text">
        <span class="featured__label featured__label--always">
            Altijd te zien
        </span>

        <div class="featured__info">
            <h1 class="featured__title">Vaste Collectie</h1>
            <h2 class="featured__subtitle">
                Reis door de kunstgeschiedenis
            </h2>
        </div>
    </div>
</li>
