/******************************
* Typography
******************************/
h1, h2, h3 {
    font-family: $font-stack-default;
    font-weight: normal;
    color: $color-headings;
    margin: 0;
}

p {
    color: $color-paragraphs;
    margin: $margin-default-p;
}

.text {
    // Date
    &--date {
        color: $color-date;
        font-size: 12px;
        line-height: 19px;
    }

    // Other `general` styles could be placed here
}
