<li class="activities__list-item is-main">
    <div class="activities__secondary-content">
        <img class="activities__image" alt="Vaste collectie" src="images/introductiecursus-gek-van-surrealisme.png" />
    </div>

    <div class="activities__primary-content">
        <div class="activities__date-and-time">
            <span class="activities__date text--date">24 februari 2017</span>
            <span class="activities__time">13.00 - 14.30 uur</span>
        </div>

        <h1 class="activities__title">Introductiecursus Gek van surrealisme</h1>
        <h2 class="activities__subtitle">Grafiek van Max Klinker</h2>

        <table class="activities__table-courses">
            <tbody>
                <tr>
                    <td class="activities__table-courses-subject">Cursussen</td>
                    <td>&euro; 75,-</td>
                </tr>
            </tbody>
        </table>
    </div>
</li>