<li class="activities__list-item">
    <div class="activities__secondary-content">
        <div class="activities__date-and-time">
            <span class="activities__date text--date">t/m 5 maart 2017</span>
            <span class="activities__time">13.00 - 14.30 uur</span>
        </div>
    </div>

    <div class="activities__primary-content">
        <div class="activities__info">
            <h1 class="activities__title">Kleinkunstig</h1>
            <h2 class="activities__subtitle">Kijk en doeboekje</h2>
            <p class="activities__category">Kinderen en families</p>
        </div>
    </div>
</li>