<li class="featured__list-item">
    <img class="featured__image" alt="Gek op surrealisme" src="images/gek-op-surrealisme.png" />

    <div class="featured__text">
        <span class="featured__label featured__label--now">Nu te zien</span>
        <div class="featured__info">
            <h1 class="featured__title">Gek op surrealisme</h1>
            <ul class="featured__artists-list">
                <li class="featured__artists-list-item">Dali</li>
                <li class="featured__artists-list-item">Ernst</li>
                <li class="featured__artists-list-item">Magritte</li>
                <li class="featured__artists-list-item">Miro</li>
            </ul>
            <div class="featured__date text--date">t/m 28 mei 2017</div>
        </div>
    </div>
</li>
