/******************************
* List of featured items
******************************/
/*
    There are two 'main' columns: secondary-content and primary-content.
    The secondary-content = column left (or "upper" on mobile/iPad)
    The primary-content = column right (or "lower" on mobile/iPad)
    Both colums are placed inside the li (list-item)
*/

.activities {
    background-color: $color-secondary;
    max-width: 100%;
    padding: 20px;

    @include breakpoint(621px $bp-large-max, 'from-to') {
        @include centered();
    }

    @include breakpoint(1489px, 'from') {
        padding: 100px;
        width: 828px;
    }

    // This is a wrapper which is actually the parent of the `activities` block
    &__wrapper {
        @include breakpoint($bp-large, 'to') {
            background-color: $color-secondary;
        }
    }



    // Page / main heading
    &__head-title {
        font-size: 28px;
        line-height: 31px;
        margin: 0 0 25px 0;
    }

    // List and list items containing activities
    &__list {
        @include clearList();
    }

    &__list-item {
        position: relative;
        margin: $margin-default-li;

        @include breakpoint(481px, 'from') {
            display: flex;
        }
    }

    // Secondary content contains an image (as of now)
    &__secondary-content {
        @include breakpoint(480px, 'from') {
            min-width: 160px;
            margin-right: 20px;
        }

        @include breakpoint(480px, 'to') {
            .is-main & {
                margin-right: 0;
                min-width: auto;
            }
        }
    }

    // Primary content starts here
    &__date-and-time {
        font-size: 12px;
        line-height: 19px;
    }

    &__date {
        display: block;

        // If the date is inside the `main` activities item, style it differently:
        .is-main & {
            display: inline-block;
            margin-right: 15px;
        }
    }

    &__title {
        font-size: 18px;
        margin: $margin-activities-titles;

        .is-main & {
            font-size: 36px;
            line-height: 40px;
        }
    }

    &__subtitle {
        font-size: 14px;
        line-height: 15px;
        margin: $margin-activities-titles;
    }

    &__category {
        font-size: 12px;
        line-height: 19px;
        margin: $margin-activities-titles;
    }

    &__table-courses {
        font-size: 12px;
        width: 100%;
        margin: $margin-activities-titles;

        td {
            padding: 0;
        }
    }

    &__table-courses-subject {
        width: 33%;
    }

    &__show-all-link {
        @include cleanLink();
        font-size: 14px;
        line-height: 15px;
        padding-left: 25px;
        position: relative;
        transition: padding-left 0.15s;

        &:before {
            @include iconBullet();
        }

        &:hover {
            padding-left: 28px;

            &:before {
                left: 3px;
                text-decoration: none;
            }
        }
    }
}
